<div class="card">
	<div class="card-body">
		<h5 class="card-title">Organization</h5>
		<div class="row">
			<div class="col-md-6 py-4">
				<form accept-charset="UTF-8" action="/organization" method="get">
				  <input id="q" name="search" type="text" />
				  <input name="commit" type="submit" value="Search" />
				</form>
			</div>
			<div class="col-md-6 py-4" style="text-align: right">
				<%= link_to 'Add New',url_for(action: :new), method: :get, :class => "button btn btn-secondary" %>
			</div>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Logo</th>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col">Phone</th>
					<th scope="col">Website</th>
					<th scope="col" class="text-center" width="25%" >Action</th>
				</tr>
		  	</thead>
		  	<tbody>
		  		<% @organization.each_with_index do |data, index| %>   
					<tr>
					  	<th scope="row"><%= index + 1 %></th>
					  	<td><%= link_to "Logo", rails_blob_path(data.logo, disposition: "attachment") %></td>
					  	<td><%= data.name %></td>
					  	<td><%= data.email %></td>
					  	<td><%= data.phone %></td>
					  	<td><%= data.website %></td>
					  	<td>
					  		<%= link_to "Show", organization_path(data), :class => "button btn btn-warning" %>
					  		<%= link_to "Edit", edit_organization_path(data), :class => "button btn btn-primary" %>
					  		<%= link_to 'Delete', organization_path(data), :class => "button btn btn-danger", method: :delete, data: {confirm: 'Are you sure?' }%>
			  			</td>
					</tr>
				<% end %>   
		  </tbody>
		</table>
	</div>
</div>
